{{ Form::open(array('url' => 'signup')) }}

  <div class="form-group">

    {{ Form::label('name', 'Name') }}
    {{ Form::text('name', null, array('class' => 'form-control')) }}
{#     {{ $errors->first('name', '<div class="alert alert-danger">:message</div>') }} #}

  </div>

  <div class="form-group">

  	{{ Form::label('email', 'E-Mail Address') }}
    {{ Form::text('email', null, array('class' => 'form-control')) }}
{#     {{ $errors->first('email', '<div class="alert alert-danger">:message</div>') }} #}

  </div>

  <div class="form-group">

    {{ Form::label('password', 'Password') }}
    {{ Form::password('password', array('class' => 'form-control')) }}

  </div>

  <div class="form-group">

    {{ Form::label('password_confirmation', 'Password confirmation') }}
    {{ Form::password('password_confirmation', array('class' => 'form-control')) }}
{#     {{ $errors->first('password', '<div class="alert alert-danger">:message</div>') }} #}

  </div>

  {{ Form::submit('Sign up!', array('class' => 'btn btn-primary btn-lg pull-right col-md-6')) }}

</form>

{{ Form::close() }}
